{% load static %}

<section id="footer">
    <div class="row g-4" style="background: url({% static 'blog-theme-1/new-design/img/header-back-1.png' %})">
        <div class="card-group" style="direction: rtl">
            <div class="col-md-12 col-lg-4 col-sm-12">
                <div class="card border-0 h-100 bg-transparent mx-2">
                    <div class="card-header" style="border-color: white">
                        <h5 class="card-title text-white">قرار گاه جمعیت</h5>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-lg-3"> <!-- Adjust the column width as needed -->
                                <!-- Image on the right side -->
                                <img src="{% static 'blog-theme-1/new-design/img/footer-logo.png' %}" alt="footer logo" style="height: 100px; width: auto; object-fit: contain;">
                            </div>
                        </div>
                    </div>
                    <div class="card-footer" style="border: none; background-color: transparent; text-align: right; text-justify: auto">
                        <strong class="text-white font-iransans-web" style="font-size: 10px">
                            با عنایت به اهمیت مقوله جمعیت دراقتدار ملی وبا توجه به پویندگی و بالندگی و جوانی جمعیت کنونی کشوربه عنوان یک فرصت وامتیاز و در جهت جبران کاهش نرخ جمعیت و نرخ باروری در سال های گذشته سیاست های کلی جمعیت ابلاغ میگردد.
                        </strong>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-lg-4 col-sm-12">
                <div class="card border-0 h-100 bg-transparent mx-2">
                    <div class="card-header" style="border-color: white">
                        <h5 class="card-title text-white">پیوند ها</h5>
                    </div>
                    <div class="card-body text-white">
                        <ul style="text-align: right">
                            <li>پایگاه اطلاع رسانی مقام معظم رهبری</li>
                            <li>پایگاه اطلاع رسانی ریاست جمهوری اسلامی</li>
                            <li>مرکز مطالعات سیاسی و بین المللی</li>
                        </ul>
                    </div>
                    <div class="card-footer" style="border: none; background-color: transparent">
                        <strong class="text-primary border-0">15</strong>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-lg-4 col-sm-12">
                <div class="card border-0 h-100 bg-transparent mx-2">
                    <div class="card-header" style="border-color: white">
                        <h5 class="card-title text-white">تماس با ما</h5>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title text-primary font-iransans-bold">مجامع استانی</h5>
                    </div>
                    <div class="card-footer" style="border: none; background-color: transparent">
                        <strong class="text-primary border-0">10</strong>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>