{% extends 'base.html' %}
{% load humanize %}
{% load static %}

{% block extra_css %}
    <!-- DataTable -->
    <link rel="stylesheet" href="{% static 'admin-panel/vendors/dataTable/responsive.bootstrap.min.css' %}"
          type="text/css">
    <link rel="stylesheet" href="{% static 'admin-panel/custom/persian-date-picker/jalalidatepicker.css' %}"/>
    <script src="{% static 'admin-panel/custom/persian-date-picker/jalalidatepicker.js' %}"></script>

{% endblock %}

{% block content %}
    <main class="main-content">

        <div class="card card-body overflow-hidden" data-backround-image="{% static 'admin-panel/assets/media/image/profile-bg.png' %}">
            <div class="p-3 d-lg-flex align-items-center justify-content-between">
                <div class="d-flex align-items-center">
                    <div>
                        <figure class="avatar avatar-xl mr-3">
                            {% if request.user.profile_user.profile_pic %}
                            <img src="{{ request.user.profile_user.profile_pic.url }}" class="rounded-circle" alt="profile image">
                            {% else %}
                            <img src="{% static 'admin-panel/custom/profile.png' %}" class="rounded-circle" alt="profile image">
                            {% endif %}
                        </figure>
                    </div>
                    <div class="text-white">
                        <h3 class="line-height-30 m-b-10">
                            {{ request.user.username }}
                            <a href="{% url 'accounts:profile-edit' %}" data-toggle="tooltip" title="ویرایش پروفایل"
                               class="font-size-15 text-white btn-floating m-l-5 align-middle">
                                <i class="fa fa-pencil"></i>
                            </a>
                        </h3>
                        <p class="mb-0 opacity-8">{{ request.user.first_name|default:'نام و نام خانوادگی تعریف نشده است' }}</p>
                    </div>
                </div>
                <div>
                    <ul class="list-inline text-center">
                        <li class="list-inline-item my-2">
                            <a href="{% url 'financial:financial-transaction-record-list-with-broker-id' broker_id=request.user.profile_user.user_financial_default_broker_id %}" class="text-success d-inline-block">
                                <h2 class="font-weight-bold mb-2 primary-font line-height-36">{{ all_time_transaction_records }}</h2>
                                <span>صورت حساب</span>
                            </a>
                        </li>
                        <li class="list-inline-item my-2">
                            <a href="{% url 'auto_robots:metapost-list-with-bot-id' auto_robot_id=0 %}" class="text-warning d-inline-block ml-3">
                                <h2 class="font-weight-bold mb-2 primary-font line-height-36">{{ all_time_metas }}</h2>
                                <span>متا</span>
                            </a>
                        </li>
                        <li class="list-inline-item my-2">
                            <a href="{% url 'blog:blog-post-list-with-blog-id' blog_id=0 %}" class="text-info d-inline-block ml-3">
                                <h2 class="font-weight-bold mb-2 primary-font line-height-36">{{ all_time_blog_posts }}</h2>
                                <span>بلاگ</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row row-sm">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <h6 class="card-title d-flex justify-content-between align-items-center">
                            اطلاعات
                            <a href="{% url 'accounts:profile-edit' %}" class="link-1 font-size-13 primary-font">
                                <i class="ti-pencil m-r-5 align-middle"></i> ویرایش
                            </a>
                        </h6>
                        <div class="row mb-2">
                            <div class="col-6 text-muted">نام و نام خانوادگی:</div>
                            <div class="col-6">{{ request.user.first_name|default:'تعریف نشده' }}</div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-6 text-muted">ایمیل:</div>
                            <div class="col-6">{{ request.user.email|default:'تعریف نشده' }}</div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-6 text-muted">آدرس:</div>
                            <div class="col-6">{{ request.user.profile_user.address|default:'تعریف نشده' }}</div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-6 text-muted">تلفن همراه:</div>
                            <div class="col-6">{{ request.user.profile_user.mobile_phone_number|default:'تعریف نشده' }}</div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-6 text-muted">تلفن ثابت:</div>
                            <div class="col-6">{{ request.user.profile_user.landline|default:'تعریف نشده' }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </main>
{% endblock %}

{% block extra_js %}
    <!-- DataTable -->
    <script src="{% static 'admin-panel/vendors/dataTable/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'admin-panel/vendors/dataTable/dataTables.bootstrap4.min.js' %}"></script>
    <script src="{% static 'admin-panel/vendors/dataTable/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'admin-panel/assets/js/examples/datatable.js' %}"></script>
    <script>
        jalaliDatepicker.startWatch({
            minDate: "attr",
            maxDate: "attr"
        });
    </script>
    <script>
        {% if toast %}
            'use strict';
            $(document).ready(function () {
                toastr.options = {
                    timeOut: 3000,
                    progressBar: true,
                    showMethod: "slideDown",
                    hideMethod: "slideUp",
                    showDuration: 200,
                    hideDuration: 200
                };
                if ('{{ toast }}' === '1') {
                    toastr.success('با موفقیت انجام شد');
                } else {
                    toastr.error('خطایی رخ داد');
                }
            });
        {% endif %}
    </script>
{% endblock %}