{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <!-- Select2 -->
    <link rel="stylesheet" href="{% static 'admin-panel/vendors/select2/css/select2.min.css' %}" type="text/css">
    <!-- Tagsinput -->
    <link rel="stylesheet" href="{% static 'admin-panel/vendors/tagsinput/bootstrap-tagsinput.css' %}" type="text/css">
{% endblock %}

{% block content %}
    <div id="loader" class="page-loader" hidden>
        <div class="spinner-border"></div>
    </div>
    <main class="main-content">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-12 mb-3">
                                <h6 class="card-title">ویرایش ربات *{{ bot.bot_name }}*</h6>
                                <form id="new-post-form" action="{% url 'auto_robots:auto-robots-edit-with-id' auto_robot_id=bot.id %}" method="post"
                                      enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <label for="auto_robot_type">نوع شبکه</label>
                                        <select class="js-example-basic-single" id="auto_robot_type" name="auto_robot_type">
                                            <option {% if bot.bot_type == 'بلاگ' %}selected{% endif %} value="بلاگ">بلاگ</option>
                                            <option {% if bot.bot_type == 'تلگرام' %}selected{% endif %} value="تلگرام">تلگرام</option>
                                            <option {% if bot.bot_type == 'ایتا' %}selected{% endif %} value="ایتا">ایتا</option>
                                            <option {% if bot.bot_type == 'بله' %}selected{% endif %} value="بله">بله</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="auto_robot_name">نام</label>
                                        <input type="text" class="form-control text-left" id="auto_robot_name"
                                               name="auto_robot_name"
                                               aria-describedby="auto_robot_name" placeholder="" dir="rtl"
                                               required
                                               oninvalid="this.setCustomValidity('پر کردن این بخش ضروری است')"
                                               oninput="setCustomValidity('')"
                                               value="{{ bot.bot_name }}">
                                    </div>
                                    <div class="form-group">
                                        <label for="auto_robot_token">توکن</label>
                                        <input type="text" class="form-control text-left" id="auto_robot_token"
                                               name="auto_robot_token"
                                               aria-describedby="auto_robot_token" placeholder="" dir="rtl"
                                               value="{{ bot.bot_token|default:'' }}">
                                    </div>
                                    <div class="form-group">
                                        <label for="auto_robot_belong_to">توکن ربات متعلق به کیست</label>
                                        <input type="text" class="form-control text-left" id="auto_robot_belong_to"
                                               name="auto_robot_belong_to"
                                               aria-describedby="auto_robot_belong_to" placeholder="" dir="rtl"
                                               value="{{ bot.bot_token_belongs_to|default:'' }}">
                                    </div>
                                    <div class="form-group">
                                        <label for="auto_robot_has_access_to">شبکه هایی که دسترسی دارد</label>
                                        <input type="text" class="form-control text-left" id="auto_robot_has_access_to"
                                               name="auto_robot_has_access_to"
                                               aria-describedby="auto_robot_has_access_to" placeholder="" dir="rtl"
                                               value="{{ bot.has_access_to_channels|default:'' }}">
                                    </div>
                                    {% if alert %}
                                        <div class="form-group">
                                            <span class="text text-danger">{{ alert }}</span>
                                        </div>
                                    {% endif %}
                                    <button type="submit" id="submit-btn" class="btn btn-primary">ویرایش</button>
                                    <a href="{% url 'auto_robots:auto-robots-list' %}" id="submit-btn" class="btn btn-primary">بازگشت
                                    </a>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}

{% block extra_js %}
    <!-- Select2 -->
    <script src="{% static 'admin-panel/vendors/select2/js/select2.min.js' %}"></script>
    <script src="{% static 'admin-panel/assets/js/examples/select2.js' %}"></script>
    <script>
        {% if alert %}
            'use strict';
            $(document).ready(function () {
                toastr.options = {
                    timeOut: 3000,
                    progressBar: true,
                    showMethod: "slideDown",
                    hideMethod: "slideUp",
                    showDuration: 200,
                    hideDuration: 200
                };
                toastr.error('{{ alert }}');
            });
        {% endif %}
    </script>
    <!-- Tagsinput -->
    <script src="{% static 'admin-panel/vendors/tagsinput/bootstrap-tagsinput.js' %}"></script>
    <script src="{% static 'admin-panel/assets/js/examples/tagsinput.js' %}"></script>
{% endblock %}