{% extends 'base.html' %}
{% load static %}
{% load gallery_custom_tag %}

{% block extra_css %}
<!-- Select2 -->
<link rel="stylesheet" href="{% static 'admin-panel/vendors/select2/css/select2.min.css' %}" type="text/css">

<!-- Clockpicker -->
<link rel="stylesheet" href="{% static 'admin-panel/vendors/clockpicker/bootstrap-clockpicker.min.css' %}"
      type="text/css">

<!-- Datepicker -->
<link rel="stylesheet" href="{% static 'admin-panel/vendors/datepicker-jalali/bootstrap-datepicker.min.css' %}">
<link rel="stylesheet" href="{% static 'admin-panel/vendors/datepicker/daterangepicker.css' %}">

<!-- Tagsinput -->
<link rel="stylesheet" href="{% static 'admin-panel/vendors/tagsinput/bootstrap-tagsinput.css' %}" type="text/css">
<!-- Tinymac -->
    <script src="{% static 'tinymce_6.5.1/tinymce/js/tinymce/tinymce.min.js' %}" referrerpolicy="origin"></script>
<script src="{% static 'tinymce_6.5.1/custom/init-func.js' %}"></script>
{% endblock %}

{% block content %}
<main class="main-content">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="row justify-content-between mb-3">
                        <div class="col-6 text-left">
                            <h6 class="card-title text-black my-auto">در حال ویرایش: <span class="text-primary bold">{{ metapost.title }}</span></h6>
                        </div>
                        {% if metapost.message_status != 'queued' %}
                            {% if metapost.bot.bot_type != 'ایتا' %}
                            <div class="col-6 text-right my-auto">
                                <span class="badge badge-warning">غیر قابل ویرایش در شبکه</span>
                                <span class="badge badge-success">قابل حذف از شبکه</span>
                                <span class="badge badge-success">قابل حذف از پنل</span>
                            </div>
                            {% else %}
                            <div class="col-6 text-right my-auto">
                                <span class="badge badge-warning">غیر قابل حذف از شبکه</span>
                                <span class="badge badge-warning">غیر قابل ویرایش در شبکه</span>
                                <span class="badge badge-success">قابل حذف از پنل</span>
                            </div>    
                            {% endif %}    
                        {% else %}
                        <div class="col-6 text-right my-auto">
                            <span class="badge badge-warning">غیر قابل حذف از شبکه</span>
                            <span class="badge badge-warning">غیر قابل ویرایش در شبکه</span>
                            <span class="badge badge-success">قابل حذف از پنل</span>
                        </div>
                        {% endif %}
                    </div>
                    <div class="row">
                        <div class="col-sm-12 mb-3">
                            <form action="{% url 'auto_robots:metapost-edit-with-metapost-id' metapost_id=metapost.id %}" method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label for="publish_with_bots">ارسال شده توسط</label>
                                    <select disabled class="js-example-basic-single" id="publish_with_bots" name="publish_with_bots">
                                        <option selected value="{{ metapost.bot.id }}">{{ metapost.bot.bot_name }}</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="message_status" >وضعیت</label>
                                    <select class="js-example-basic-single" disabled id="message_status" name="message_status">
                                        <option selected>ویرایش در پنل</option>
                                        <option {% if metapost.message_status == 'sent' %}selected{% endif %} value="sent">ارسال شده</option>
                                        <option {% if metapost.message_status == 'deleted' %}selected{% endif %} value="deleted">حذف شده</option>
                                        <option {% if metapost.message_status == 'republished' %}selected{% endif %} value="republished">مجدد منتشر شده</option>
                                        <option {% if metapost.message_status == 'revised' %}selected{% endif %} value="revised">بازبینی شده</option>
                                        <option {% if metapost.message_status == 'queued' %}selected{% endif %} value="queued">در انتظار ارسال</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="metapost_send_at_type">نوع ارسال</label>
                                    <input type="text" class="form-control text-left" id="metapost_send_at_type"
                                           name="metapost_send_at_type"
                                           disabled readonly
                                           aria-describedby="metapost_send_at_type" placeholder="" dir="rtl"
                                           value="{{ metapost.send_at_type }}">
                                </div>
                                {% if metapost.message_status != 'deleted' %}
                                <div class="form-group">
                                    <label for="metapost_send_at_date_time">زمان ارسال</label>
                                    <input type="text" class="form-control text-left" id="metapost_send_at_date_time"
                                           name="metapost_send_at_date_time"
                                           disabled readonly
                                           aria-describedby="metapost_send_at_date_time" placeholder="" dir="rtl"
                                           {% if metapost.send_at_type == 'در لحظه یکباره' or metapost.send_at_type == 'زمانبندی شده یکباره' %}
                                           value="{{ metapost.send_at_date_time|default:metapost.created_at|date:'Y/m/d ساعت H:i'}}"
                                            {% elif metapost.send_at_type == 'روزانه' %}
                                           value="{{ metapost.send_at_date_time|default:metapost.created_at|date:'هر روز ساعت H:i'}}"
                                           {% elif metapost.send_at_type == 'ماهانه' %}
                                            value="{{ metapost.send_at_date_time|default:metapost.created_at|date:'روز d ام ماه ساعت H:i'}}"
                                            {% endif %}>
                                </div>
                                {% else %}
                                <div class="form-group">
                                    <label for="metapost_send_at_date_time">زمان حذف</label>
                                    <input type="text" class="form-control text-left" id="metapost_send_at_date_time"
                                           name="metapost_send_at_date_time"
                                           disabled readonly
                                           aria-describedby="metapost_send_at_date_time" placeholder="" dir="rtl"
                                           value="{{ metapost.updated_at|default:metapost.updated_at|date:'Y/m/d ساعت H:i'}}">
                                </div>
                                {% endif %}
                                {% if metapost.send_at_type == 'در لحظه یکباره' or metapost.send_at_type == 'زمانبندی شده یکباره' %}
                                    {% if metapost.bot.bot_type != 'ایتا' and metapost.message_status != 'deleted' %}
                                        {% if metapost.message_status == 'sent' %}
                                        <div class="form-group">
                                            <label for="new_action" >اقدام جدید</label>
                                            <select class="js-example-basic-single" id="new_action" name="new_action">
                                                <option selected value="nothing">انتخاب</option>
                                                <option value="delete">حذف از شبکه</option>
                                            </select>
                                        </div>
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                                <div class="form-group">
                                    <label for="metapost_title">عنوان</label>
                                    <input type="text" class="form-control text-left" id="metapost_title"
                                           name="metapost_title"
                                           aria-describedby="metapost_title" placeholder="" dir="rtl"
                                           readonly
                                           required
                                           oninvalid="this.setCustomValidity('پر کردن این بخش ضروری است')"
                                           oninput="setCustomValidity('')"
                                           value="{{ metapost.title }}">
                                </div>
                                <div class="form-group" hidden>
                                    <label for="metapost_sub_title">زیر عنوان</label>
                                    <input type="text" class="form-control text-left" id="metapost_sub_title"
                                           name="metapost_sub_title"
                                           readonly
                                           aria-describedby="metapost_sub_title" placeholder="" dir="rtl"
                                           value="{{ metapost.sub_title|default:'' }}">
                                </div>
                                <div class="form-group" hidden>
                                    <label for="metapost_categories">دسته ها</label>
                                    <input type="text" id="metapost_categories" name="metapost_categories" class="form-control tagsinput"
                                           placeholder="دسته ها" readonly value="{{ metapost.categories|default:'' }}">
                                </div>
                                <div class="form-group" hidden>
                                    <label for="metapost_keywords">کلمات کلیدی</label>
                                    <input type="text" id="metapost_keywords" name="metapost_keywords" class="form-control tagsinput"
                                           placeholder="کلمات کلیدی" readonly value="{{ metapost.keywords|default:'' }}">
                                </div>
                                <div class="form-group">
                                    <label for="metapost_attached_file_link">فایل ضمیمه</label>
                                    <input type="text" id="metapost_attached_file_link" name="metapost_attached_file_link" class="form-control"
                                           readonly value="{{ metapost.attached_file_link }}">
                                </div>
                                <div class="form-group">
                                    <label for="content">محتوا</label>
                                    <p id="content" dir="rtl">{{ metapost.content|safe|default:'' }} </p>
                                </div>
                                <div class="form-group">
                                    <label for="metapost_view_type" >نحوه ارسال</label>
                                    <select class="js-example-basic-single" readonly disabled id="metapost_view_type" name="metapost_view_type">
                                        <option {% if metapost.metapost_view_type == 'simple_text' %}selected{% endif %} value="simple_text">متن ساده</option>
                                        <option {% if metapost.metapost_view_type == 'photo' %}selected{% endif %}  value="photo">عکس + کپشن</option>
                                        <option {% if metapost.metapost_view_type == 'video' %}selected{% endif %}  value="video">ویدئو + کپشن</option>
                                        <option {% if metapost.metapost_view_type == 'audio' %}selected{% endif %}  value="audio">صوت + کپشن</option>
                                        <option {% if metapost.metapost_view_type == 'document' %}selected{% endif %}  value="document">فایل + کپشن</option>
                                    </select>
                                </div>
                                {% if alert %}
                                <div class="form-group">
                                    <span class="text text-danger">{{ alert }}</span>
                                </div>
                                {% endif %}
                                {% if metapost.message_status != 'queued' %}
                                    {% if metapost.message_status != 'deleted' and metapost.bot.bot_type != 'ایتا' %}
                                    <button type="submit" class="btn btn-primary">ویرایش</button>
                                    {% endif %}
                                {% endif %}
                                <a href="{% url 'auto_robots:metapost-list-with-bot-id' auto_robot_id=0 %}" class="btn btn-primary">بازگشت</a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>
{% endblock %}

{% block extra_js %}
<!-- Select2 -->
<script src="{% static 'admin-panel/vendors/select2/js/select2.min.js' %}"></script>
<script src="{% static 'admin-panel/assets/js/examples/select2.js' %}"></script>
<!-- Tagsinput -->
<script src="{% static 'admin-panel/vendors/tagsinput/bootstrap-tagsinput.js' %}"></script>
<script src="{% static 'admin-panel/assets/js/examples/tagsinput.js' %}"></script>

<!-- Datepicker -->
<script src="{% static 'admin-panel/vendors/datepicker-jalali/bootstrap-datepicker.min.js' %}"></script>
<script src="{% static 'admin-panel/vendors/datepicker-jalali/bootstrap-datepicker.fa.min.js' %}"></script>
<script src="{% static 'admin-panel/vendors/datepicker/daterangepicker.js' %}"></script>
<script>
    $('.date-picker-shamsi').datepicker({
        dateFormat: "yy/mm/dd",
        showOtherMonths: true,
        selectOtherMonths: false

    });
</script>
<script src="{% static 'admin-panel/vendors/clockpicker/bootstrap-clockpicker.min.js' %}"></script>
<script src="{% static 'admin-panel/assets/js/examples/clockpicker.js' %}"></script>

<script>
{% if alert %}
    'use strict';
    $(document).ready(function () {
        toastr.options = {
            timeOut: 3000,
            progressBar: true,
            showMethod: "slideDown",
            hideMethod: "slideUp",
            showDuration: 200,
            hideDuration: 200
        };
        toastr.error('{{ alert }}');
    });
{% endif %}
var promotion_cleaner = setInterval(() => {
    var promotions = document.getElementsByClassName('tox-promotion')
    if (promotions.length > 0){
        for (var i = 0; i <= promotions.length; i++) {
            try {
                promotions[i].hidden = true
            } catch {}
        }
        clearInterval(promotion_cleaner);
    }

}, 1000);
</script>
<script>
    function change_visibility(checkbox, item_visibility_change_id) {
        document.getElementById(item_visibility_change_id).hidden = !checkbox.checked;
    }
</script>
{% endblock %}