{% extends 'base.html' %}
{% load static %}
{% load gallery_custom_tag %}
{% load subscription_tag %}

{% block extra_css %}
{% endblock %}

{% block content %}
    <main class="main-content">

        <div class="row">
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body">
                        <div class="pricing-table m-b-20">
                            <h6 class="m-b-20 font-size-13 text-center">برای شروع</h6>
                            <h1 class="font-weight-bold text-center font-size-35 primary-font">
                                رایگان (3 روز)
                            </h1>
                            <ul class="m-b-30 m-t-30 list-group list-group-flush">
                                <li class="list-group-item">
									<span class="icon-block m-r-5 bg-success icon-block-xs icon-block-floating">
										<i class="fa fa-check"></i>
									</span>
                                    ارسال پیشرفته
                                </li>
                                <li class="list-group-item">
									<span class="icon-block m-r-5 bg-success icon-block-xs icon-block-floating">
										<i class="fa fa-check"></i>
									</span>
                                    اتوماسیون
                                </li>
                                <li class="list-group-item">
									<span class="icon-block m-r-5 bg-danger icon-block-xs icon-block-floating">
										<i class="fa fa-close"></i>
									</span>
                                    حسابداری
                                </li>
                                <li class="list-group-item">
									<span class="icon-block m-r-5 bg-danger icon-block-xs icon-block-floating">
										<i class="fa fa-close"></i>
									</span>
                                    مدیریت فایل
                                </li>
                                <li class="list-group-item">
									<span class="icon-block m-r-5 bg-danger icon-block-xs icon-block-floating">
										<i class="fa fa-close"></i>
									</span>
                                    لایسنس محدود خدمات
                                </li>
                                <li class="list-group-item">
									<span class="icon-block m-r-5 bg-danger icon-block-xs icon-block-floating">
										<i class="fa fa-close"></i>
									</span>
                                    پشتیبانی
                                </li>
                            </ul>
                        </div>
                        <div class="text-center">
                            {% if request.user.profile_user|check_user_is_vip %}
                            <button class="btn btn-primary btn-lg" disabled>غیر فعال</button>
                            {% else %}
                            <button class="btn btn-success btn-lg" disabled>فعال</button>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            {% for vip_plan in vip_plans %}
            <div class="col-md-3">
                <div class="card" {% if vip_plan.card_background_color == 'gold' %} style="background-color: #FCDF6C" {% elif vip_plan.card_background_color == 'silver' %} style="background-color: #c0c0c0" {% elif vip_plan.card_background_color == 'bronze' %} style="background-color: #CD7F32" {% else %}{% endif %}>
                    <div class="card-body">
                        <div class="pricing-table m-b-20">
                            <h6 class="m-b-20 font-size-13 text-center">{{ vip_plan.title }}</h6>
                            <h1 class="m-b-20 font-weight-bold text-center primary-font">
                                <sup>
                                    <small>{{ vip_plan.expiry_days }} روزه</small>
                                </sup>
                                <span class="font-size-35" id="plan_price_{{ forloop.counter }}"></span>
                                <script>
                                    document.getElementById('plan_price_{{ forloop.counter }}').innerText = parseInt('{{ vip_plan.price }}').toLocaleString('en-US')
                                </script>
                                <sup>
                                    <small>تومان</small>
                                </sup>
                            </h1>
                            <ul class="m-b-30 m-t-30 list-group list-group-flush">
                                <li class="list-group-item bg-none">
									<span class="icon-block m-r-5 bg-success icon-block-xs icon-block-floating">
										<i class="fa fa-check"></i>
									</span>
                                    {{ vip_plan.metapost_daily_send_limit }} ارسال متا روزانه
                                </li>
                                <li class="list-group-item bg-none">
									<span class="icon-block m-r-5 bg-success icon-block-xs icon-block-floating">
										<i class="fa fa-check"></i>
									</span>
                                    {{ vip_plan.maximum_storage_quota }} مگابایت فضا
                                </li>
                                <li class="list-group-item bg-none">
									<span class="icon-block m-r-5 bg-success icon-block-xs icon-block-floating">
										<i class="fa fa-check"></i>
									</span>
                                    {{ vip_plan.numbers_of_assistant }} کارمند
                                </li>
                                <li class="list-group-item bg-none">
									<span class="icon-block m-r-5 bg-success icon-block-xs icon-block-floating">
										<i class="fa fa-check"></i>
									</span>
                                    {{ vip_plan.financial_broker_limit }} کارگزار مالی
                                </li>
                                <li class="list-group-item bg-none">
									<span class="icon-block m-r-5 bg-success icon-block-xs icon-block-floating">
										<i class="fa fa-check"></i>
									</span>
                                    {% if vip_plan.full_support %}پشتیبانی کامل 7/24 ساعته{% else %}پشتیبانی پایه{% endif %}
                                </li>
                                <li class="list-group-item bg-none">
									<span class="icon-block m-r-5 bg-success icon-block-xs icon-block-floating">
										<i class="fa fa-check"></i>
									</span>
                                    {% if vip_plan.all_licence_activate %}لایسنس کامل خدمات{% else %}لایسنس محدود خدمات{% endif %}
                                </li>
                            </ul>
                        </div>
                        <div class="text-center">
                            {% if request.user.profile_user|check_user_is_vip %}
                                {% if request.user.profile_user.vip_plan == vip_plan %}
                                <button class="btn btn-success btn-lg" disabled>فعال</button>
                                {% else %}
                                    {% if request.user.profile_user.vip_plan|vip_plan_check_if_better:vip_plan %}
                                    <form action="{% url 'accounts:invoice' %}" method="post">
                                        {% csrf_token %}
                                        <input type="hidden" name="upgrade_to" value="true">
                                        <input type="hidden" name="vip_plan_id" value="{{ vip_plan.id }}">
                                        <button type="submit" class="btn btn-primary btn-lg" data-toggle="tooltip" data-placement="top" title="پلن فعلی حذف شده و معادل زمان باقیمانده از آن هزینه محاسبه و از مبلغ قابل پرداخت جدید کسر می شود">ارتقا</button>
                                    </form>
                                    {% else %}
                                    <button class="btn btn-primary btn-lg" disabled>غیر فعال</button>
                                    {% endif %}
                                {% endif %}
                            {% else %}
                            <form action="{% url 'accounts:invoice' %}" method="post">
                                {% csrf_token %}
                                <input type="hidden" name="vip_plan_id" value="{{ vip_plan.id }}">
                                <button type="submit" class="btn btn-primary btn-lg">خرید</button>
                            </form>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% if storage_plans.count != 0 %}
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-striped table-hover">
                        <thead>
                        <tr>
                            <th scope="col"></th>
                            {% for storage_plan in storage_plans %}
                            <th scope="col" class="text-center p-t-b-40">
                                <div class="m-b-10 font-size-13 opacity-7 secondary-font">{{ storage_plan.title }}</div>
                                <div class="m-b-0 m-l-r-30 font-weight-bold">
                                    <sup>
                                        <small>ماهانه</small>
                                    </sup>
                                    <span class="font-size-35" id="storage_price_{{ forloop.counter }}"></span>
                                    <script>
                                        document.getElementById('storage_price_{{ forloop.counter }}').innerText = parseInt('{{ storage_plan.price }}').toLocaleString('en-US')
                                    </script>
                                    <sup>
                                        <small>تومان</small>
                                    </sup>
                                </div>
                            </th>
                            {% endfor %}
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>&nbsp;</td>
                            <td class="text-center p-t-b-30">
                                <button class="btn btn-primary">افزودن</button>
                            </td>
                            <td class="text-center p-t-b-30">
                                <button class="btn btn-primary">افزودن</button>
                            </td>
                            <td class="text-center p-t-b-30">
                                <button class="btn btn-primary">افزودن</button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        {% endif %}

    </main>
{% endblock %}

{% block extra_js %}
    <script>
        {% if alert %}
            'use strict';
            $(document).ready(function () {
                toastr.options = {
                    timeOut: 3000,
                    progressBar: true,
                    showMethod: "slideDown",
                    hideMethod: "slideUp",
                    showDuration: 200,
                    hideDuration: 200
                };
                toastr.error('{{ alert }}');
            });
        {% endif %}
    </script>
{% endblock %}