{% load subscription_tag %}
{% load static %}

<div class="header">

    <!-- begin::header logo -->
    <div class="header-logo">
        <a href="{% url 'dashboard:dashboard' %}">
            <img class="large-logo" src="{% static 'admin-panel/custom/logo2.png' %}" style="width: 248px; height: 60px" alt="image">
            <img class="small-logo" src="{% static 'admin-panel/custom/favicon/favicon_128_128.png' %}" style="width: 40px; height: 20px" alt="image">
            <img class="dark-logo" src="{% static 'admin-panel/custom/logo2.png' %}" style="width: 248px; height: 60px" alt="image">
        </a>
    </div>
    <!-- end::header logo -->

    <!-- begin::header body -->
    <div class="header-body">

        <div class="header-body-left">

            <h3 class="page-title">{{ page_title }}</h3>

            <!-- begin::breadcrumb -->
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    {% if breadcrumb_5 %}
                    <li class="breadcrumb-item"><a href="javascript:void(0)">{{ breadcrumb_1 }}</a></li>
                    <li class="breadcrumb-item"><a href="javascript:void(0)">{{ breadcrumb_2 }}</a></li>
                    <li class="breadcrumb-item"><a href="javascript:void(0)">{{ breadcrumb_3 }}</a></li>
                    <li class="breadcrumb-item"><a href="javascript:void(0)">{{ breadcrumb_4 }}</a></li>
                    <li class="breadcrumb-item active"><a href="javascript:void(0)" style="color: blue">{{ breadcrumb_5 }}</a></li>
                    {% elif breadcrumb_4 %}
                    <li class="breadcrumb-item"><a href="javascript:void(0)">{{ breadcrumb_1 }}</a></li>
                    <li class="breadcrumb-item"><a href="javascript:void(0)">{{ breadcrumb_3 }}</a></li>
                    <li class="breadcrumb-item"><a href="javascript:void(0)">{{ breadcrumb_2 }}</a></li>
                    <li class="breadcrumb-item active"><a href="javascript:void(0)" style="color: blue">{{ breadcrumb_4 }}</a></li>
                    {% elif breadcrumb_3 %}
                    <li class="breadcrumb-item"><a href="javascript:void(0)">{{ breadcrumb_1 }}</a></li>
                    <li class="breadcrumb-item"><a href="javascript:void(0)">{{ breadcrumb_2 }}</a></li>
                    <li class="breadcrumb-item active"><a href="javascript:void(0)" style="color: blue">{{ breadcrumb_3 }}</a></li>
                    {% elif breadcrumb_2 %}
                    <li class="breadcrumb-item"><a href="javascript:void(0)">{{ breadcrumb_1 }}</a></li>
                    <li class="breadcrumb-item active"><a href="javascript:void(0)" style="color: blue">{{ breadcrumb_2 }}</a></li>
                    {% else %}
                    <li class="breadcrumb-item active"><a href="javascript:void(0)" style="color: blue">{{ breadcrumb_1 }}</a></li>
                    {% endif %}
                </ol>
            </nav>
            <!-- end::breadcrumb -->

        </div>

        <div class="header-body-right">
            <!-- begin::navbar main body -->
            <ul class="navbar-nav">
                <li class="nav-item dropdown badge badge-success p-2">
                    <div class="nav-link" data-toggle="dropdown" style="font-size: 18px; cursor: pointer">
                        <span>موجودی حساب: </span><span><span class="human-readable">{{ request|get_profile_wallet_balance }}</span> تومان</span>
                    </div>
                    <div class="dropdown-menu dropdown-menu-right">
                        <div class="row justify-content-center">
                            <a href="{% url 'subscription:charge-wallet' %}" class="nav-link" style="padding-right: 75px; padding-left: 75px">
                                افزایش موجودی
                            </a>
                        </div>
                    </div>
                    
                </li>
                <li class="nav-item dropdown">
                    <a href="{% url 'accounts:profile' %}" class="nav-link bg-none" data-sidebar-open="#userProfile">
                        <div>
                            <figure class="avatar avatar-state-success avatar-sm">
                                {% if request.user.profile_user.profile_pic %}
                                <img src="{{ request.user.profile_user.profile_pic.url }}" class="rounded-circle" alt="image">
                                {% else %}
                                <img src="{% static 'admin-panel/custom/profile.png' %}" class="rounded-circle" alt="image">
                                {% endif %}
                            </figure>
                        </div>
                    </a>
                </li>
            </ul>
            <!-- end::navbar main body -->

            <div class="d-flex align-items-center">
                <!-- begin::navbar navigation toggler -->
                <div class="d-xl-none d-lg-none d-sm-block navigation-toggler">
                    <a href="#">
                        <i class="ti-menu"></i>
                    </a>
                </div>
                <!-- end::navbar navigation toggler -->

                <!-- begin::navbar toggler -->
                <div class="d-xl-none d-lg-none d-sm-block navbar-toggler">
                    <a href="#">
                        <i class="ti-arrow-down"></i>
                    </a>
                </div>
                <!-- end::navbar toggler -->
            </div>
        </div>

    </div>
    <!-- end::header body -->

</div>