{% load subscription_tag %}
{% load static %}

<div class="navigation">
    <div class="navigation-icon-menu" style="background-color: #6359a8">
        <ul>
            <li id="overview" data-toggle="tooltip" title="پنل کاربری">
                <a href="#navigationDashboard" title="پنل کاربری">
                    <i class="icon ti-dashboard"></i>
                </a>
            </li>
            <li id="subscription" data-toggle="tooltip" title="مالی و خرید اشتراک">
                <a href="#navigationSubscription" title="مالی و خرید اشتراک">
                    <i class="icon ti-star"></i>
                </a>
            </li>
            <li id="service" data-toggle="tooltip" title="خدمات">
                <a href="#navigationService" title="خدمات">
                    <i class="icon ti-briefcase"></i>
                </a>
            </li>
            <li data-toggle="tooltip" title="پشتیبانی (غیر فعال)">
                <a href="#navigationSupport" title="پشتیبانی">
                    <i class="icon ti-help-alt"></i>
                </a>
            </li>
            <li data-toggle="tooltip" title="آموزش(غیرفعال)">
                <a href="#navigationTutorial" title="آموزش">
                    <i class="icon ti-pencil"></i>
                </a>
            </li>
        </ul>
        <ul>
            <li data-toggle="tooltip" title="ویرایش پروفایل">
                <a href="{% url 'accounts:profile' %}" class="go-to-page">
                    <i class="icon ti-settings"></i>
                </a>
            </li>
            <li data-toggle="tooltip" title="خروج">
                <a href="{% url 'accounts:logout' %}" class="go-to-page">
                    <i class="icon ti-power-off"></i>
                </a>
            </li>
            <li>
                <a href="javascript:void('');" class="go-to-page"></a>
            </li>
        </ul>
    </div>
    <div class="navigation-menu-body">
        <ul id="navigationDashboard">
            <li class="navigation-divider"><span class="font-size-18 text-primary">دسترسی سریع</span></li>
            <li>
                <a id="navigationDashboard_main_page" href="{% url 'dashboard:dashboard' %}">صفحه اصلی</a>
            </li>
            <li>
                <a id="navigationDashboard_wallet_charge" href="{% url 'subscription:charge-wallet' %}">شارژ اعتبار حساب</a>
            </li>
            {% if request|has_user_active_licence:'social_licence' %}
            <li>
                <a id="navigationDashboard_social" href="{% url 'auto_robots:metapost-new' %}">شبکه های اجتماعی</a>
            </li>
            {% endif %}
        
            {% if request|has_user_active_licence:'financial_licence' %}
            <li>
                <a id="navigationDashboard_financial" href="{% url 'financial:financial-transaction-record-list-with-broker-id' broker_id=request.user.profile_user.user_financial_default_broker_id %}">حسابداری</a>
            </li>
            {% endif %}
        
            <hr class="m-0">
            {% include 'file-manager/storage-analyze.html' %}
        </ul>
        <ul id="navigationSubscription">
            <li class="navigation-divider"><span class="font-size-18 text-primary">اشتراک</span></li>
            <li>
                <a id="navigationSubscription_wallet_charge" href="{% url 'subscription:charge-wallet' %}">شارژ اعتبار حساب</a>
            </li>
            <li>
                <a id="navigationSubscription_invoices_list" href="{% url 'subscription:invoices-list' %}">لیست صورت حساب ها</a>
            </li>
            <li>
                <a id="navigationSubscription_change_vip_plan" href="{% url 'subscription:change-vip-plan' %}">تنظیم اشتراک</a>
            </li>
        </ul>
        <ul id="navigationService">
            <li class="navigation-divider"><span class="font-size-18 text-primary">خدمات</span></li>
{#                <a href="#">اسناد</a>#}
{#                <ul>#}
{#                    <li><a id="folder-new" href="{% url 'documents:folder-new' %}">ایجاد فولدر</a></li>#}
{#                    <li><a id="folder-list" href="{% url 'documents:folder-list' %}">لیست فولدر ها</a></li>#}
{#                    <li><a id="document-new" href="{% url 'documents:document-new' %}">ایجاد سند</a></li>#}
{#                    <li><a id="document-list" href="{% url 'documents:document-list' %}">لیست اسناد</a></li>#}
{#                </ul>#}
{#            </li>#}
{#            <li>#}
{#                <a id="blog" href="#">بلاگ</a>#}
{#                <ul>#}
{#                    <li><a id="blog-list" href="{% url 'blog:blog-list' %}">بلاگ های من </a></li>#}
{#                </ul>#}
{#            </li>#}
            <li>
                <a id="navigationService_metapost" href="#"><i class="fa fa-telegram-plane mr-2"></i>ارسال پیشرفته</a>
                <ul>
                    {% if request|has_user_active_licence:'social_licence' %}
                        <li><a id="navigationService_auto_robot_list" href="{% url 'auto_robots:auto-robots-list' %}"><i class="fa fa-android mr-2"></i>ربات های من</a></li>
                        <li><a id="navigationService_metapost_list" href="{% url 'auto_robots:metapost-list-with-bot-id' auto_robot_id=0 %}"><i class="fa fa-instagram mr-2"></i>متا های من</a></li>
                    {% else %}
                        <li><a href="{% url 'subscription:change-vip-plan' %}"><i class="fa fa-star mr-2"></i>خرید لایسنس</a></li>
                    {% endif %}
                </ul>
            </li>
            <li>
                <a href="#"><i class="fa fa-plane mr-2"></i>اتوماسیون</a>
                <ul>
                    {% if request|has_user_active_licence:'automation_licence' %}
                        <li><a href="#"><i class="fa fa-pencil mr-2"></i>نقش ها و وظایف</a></li>
                        <li><a href="#"><i class="fa fa-project-diagram mr-2"></i>پروژه های تعریفی</a></li>
                        <li><a href="#"><i class="fa fa-diagram-project mr-2"></i>پروژه های مشارکتی</a></li>
                        <li><a href="#"><i class="fa fa-envelope mr-2"></i>صندوق دریافت</a></li>
                        <li><a href="#"><i class="fa fa-send mr-2"></i>صندوق ارسال</a></li>
                        <li><a href="#"><i class="fa fa-message mr-2"></i>اعلانات</a></li>
                    {% else %}
                        <li><a href="{% url 'subscription:change-vip-plan' %}"><i class="fa fa-star mr-2"></i>خرید لایسنس</a></li>
                    {% endif %}
                </ul>
            </li>
{#            <li>#}
{#                <a id="tasks" href="#">وظیفه</a>#}
{#                <ul>#}
{#                    <li><a id="task-new" href="{% url 'tasks:task-new' %}">ثبت وظیفه </a></li>#}
{#                    <li><a id="task-list-table" href="{% url 'tasks:my-task-list-table' %}">وظایف من&nbsp;<small class="text-info"> (لیست) </small></a></li>#}
{#                    <li><a id="task-list-chart" href="{% url 'tasks:my-task-list-chart' %}">وظایف من&nbsp;<small class="text-info"> (چارت) </small></a></li>#}
{#                </ul>#}
{#            </li>#}
{#            <li>#}
{#                <a id="calender-event" href="#">تقویم</a>#}
{#                <ul>#}
{#                    <li><a id="event-manager" href="{% url 'calendar_event:calendar' %}">مدیریت برنامه</a></li>#}
{#                </ul>#}
{#            </li>#}
            <li>
                <a id="navigationService_financial" href="#"><i class="fa fa-money mr-2"></i>حسابداری</a>
                <ul>
                    {% if request|has_user_active_licence:'financial_licence' %}
                        <li><a id="navigationService_financial_broker_list" href="{% url 'financial:financial-broker-list' %}"><i class="fa fa-people-group mr-2"></i>کارگزاران مالی</a></li>
                        <li><a id="navigationService_financial_transaction_record_list" href="{% url 'financial:financial-transaction-record-list-with-broker-id' broker_id=request.user.profile_user.user_financial_default_broker_id %}"><i class="fa fa-money-bill mr-2"></i>صورت حساب</a></li>
                    {% else %}
                        <li><a href="{% url 'subscription:change-vip-plan' %}"><i class="fa fa-star mr-2"></i>خرید لایسنس</a></li>
                    {% endif %}
                </ul>
            </li>
            <li>
                <a id="navigationService_file_manager" href="#"><i class="fa fa-paperclip mr-2"></i>مدیریت فایل ها</a>
                <ul>
                    <li><a id="navigationService_files_list" href="{% url 'file-gallery:files-list' %}"><i class="fa fa-files-o mr-2"></i>فایل های من</a></li>
                </ul>
            </li>
{#            <li>#}
{#                <a href="#">انبار<span class="font-size-12 text-warning ml-2">*غیرفعال</span></a>#}
{#                <ul>#}
{#                    <li><a href="#">ثبت وسیله </a></li>#}
{#                    <li><a href="#">لیست وسایل </a></li>#}
{#                </ul>#}
{#            </li>#}
        </ul>
        <ul id="navigationSupport">
            <li class="navigation-divider"><span class="font-size-18 text-primary">پشتیبانی</span></li>
            <li>
                <a href="#">درباره ما<span class="font-size-12 text-warning ml-2">*غیرفعال</span></a>
            </li>
            <li>
                <a href="#">ارتباط با ما<span class="font-size-12 text-warning ml-2">*غیرفعال</span></a>
            </li>
            <li>
                <a href="#">تیکت<span class="font-size-12 text-warning ml-2">*غیرفعال</span></a>
{#                <ul>#}
{#                    <li><a href="#">ارسال تیکت </a></li>#}
{#                    <li><a href="#">لیست تیکت ها </a></li>#}
{#                </ul>#}
            </li>
        </ul>
        <ul id="navigationTutorial">
            <li class="navigation-divider"><span class="font-size-18 text-primary">آموزش</span></li>
            <li>
                <a href="#">سوالات متداول<span class="font-size-12 text-warning ml-2">*غیرفعال</span></a>
            </li>
            <li>
                <a href="#">آموزش<span class="font-size-12 text-warning ml-2">*غیرفعال</span></a>
{#                <ul>#}
{#                    <li><a href="#">آموزش ویدیویی </a></li>#}
{#                    <li><a href="#">مستندات </a></li>#}
{#                </ul>#}
            </li>
        </ul>
    </div>
</div>
<script src="{% static 'admin-panel/custom/menu-controller.js' %}"></script>