{% extends 'base.html' %}
{% load static %}
{% load gallery_custom_tag %}
{% load subscription_tag %}

{% block extra_css %}
    <!-- Select2 -->
	<link rel="stylesheet" href="{% static 'admin-panel/vendors/select2/css/select2.min.css' %}" type="text/css">
{% endblock %}

{% block content %}
    <main class="main-content">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h2>شارژ اعتبار حساب</h2>
                    </div>
                    <div class="card-body">
                        <form action="{% url 'subscription:charge-wallet' %}" method="post">
                            {% csrf_token %}
                            <div class="form-group mb-3">
                                <label for="charge_amount">مقدار شارژ</label>
                                <select class="js-example-basic-single" id="charge_amount"
                                        name="charge_amount" onchange="change_amount_value(this.value, {{ licence_setting.tax_percent }})">
                                    {% for vip_plan in vip_plans %}
                                        <option {% if charge_amount == vip_plan.price %}selected{% endif %} value="{{ vip_plan.price }}"><span class="human-readable">{{ vip_plan.price|amount_human_readable }}</span> تومان</option>
                                    {% empty %}
                                        <option {% if not charge_amount %}selected{% endif %} value="-">انتخاب</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group mb-3" {% if licence_setting.tax_percent == 0 %}hidden{% endif %}>
								<span class="text-warning">.به تمامی مبالغ فوق {{ licence_setting.tax_percent|floatformat }} % مالیات بر ارزش افزوده تعلق خواهد گرفت</span>
							</div>
                        
                            {% if error %}
                                <span class="text-danger mb-3">{{ error }}</span>
                            {% endif %}
                        
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#buyConfirmModal">خرید</button>
                            <div id="buyConfirmModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
								<div class="modal-dialog" role="document">
									<div class="modal-content">
										<div class="modal-header">
											<h5 class="modal-title" id="gridModalLabel">تایید خرید</h5>
											<button type="button" class="close" data-dismiss="modal" aria-label="بستن">
												<i class="ti-close"></i>
											</button>
										</div>
										<div class="modal-body">
											<div class="container-fluid bd-example-row">
												<div class="row">
                                                    <h2 id="x1" class="col-sm-12 col-md-12 col-lg-12"><span class="human-readable">شما در حال خرید اعتبار حساب به میزان {{vip_plans.0.price}} تومان هستید.</span></h2>
                                                </div>
                                            
                                                <div class="row" {% if licence_setting.tax_percent == 0 %}hidden{% endif %}>
                                                    <h3 id="x2" class="col-sm-12 col-md-12 col-lg-12"><span class="human-readable">محاسبه {{licence_setting.tax_percent}} درصد مالیات بر ارزش افزوده: {{licence_setting.tax_percent}} تومان</span></h3>
                                                </div>
                                            
                                                <div class="row">
                                                    <h3 id="x3" class="col-sm-12 col-md-12 col-lg-12"><span class="human-readable">پرداختی نهایی: {{ licence_setting.tax_percent }} تومان</span></h3>
                                                </div>
											</div>
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-secondary" data-dismiss="modal">بستن</button>
											<button type="submit" class="btn btn-primary">ادامه</button>
										</div>
									</div>
								</div>
							</div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}

{% block extra_js %}
    <!-- Select2 -->
	<script src="{% static 'admin-panel/vendors/select2/js/select2.min.js' %}"></script>
	<script src="{% static 'admin-panel/assets/js/examples/select2.js' %}"></script>
    <script>
        function change_amount_value(price, tax) {
            try {
                document.getElementById('x1').innerHTML = `<span class="human-readable">شما در حال خرید اعتبار حساب به میزان ${price} تومان هستید.</span>`
                const final_price = parseInt(parseInt(price) * ((parseFloat(tax) + 100) / 100))
                const tax_price = parseInt(parseInt(price) * (parseFloat(tax) / 100))
                document.getElementById('x2').innerHTML = `<span class="human-readable">محاسبه ${tax} درصد مالیات بر ارزش افزوده: ${tax_price} تومان</span>`
                document.getElementById('x3').innerHTML = `<span class="human-readable">پرداختی نهایی: ${final_price} تومان</span>`
            } catch (e) {
                console.log(e)
            }
            
        }
    </script>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            // Select the dropdown element
            var dropdown = document.getElementById("charge_amount");
            // Simulate a change event
            var event = new Event('change');
            dropdown.dispatchEvent(event);
        });
    </script>
{% endblock %}