{% extends 'base.html' %}
{% load gallery_custom_tag %}
{% load subscription_tag %}
{% load humanize %}
{% load static %}

{% block extra_css %}

{% endblock %}

{% block content %}
    <main class="main-content">
        <div class="card chat-app-wrapper">
			<div class="row chat-app">
				<div class="col-sm-12 col-md-12 col-lg-12 col-xl-12  chat-body">
					<div class="chat-body-header">
						<a href="#" class="btn btn-dark opacity-3 m-r-10 btn-chat-sidebar-open">
							<i class="ti-menu"></i>
						</a>
						<div>
							<figure class="avatar avatar-sm m-r-10">
								<img src="{% if request.user.profile_user.profile_pic %}{{ request.user.profile_user.profile_pic.url }}{% else %}{% static 'admin-panel/custom/profile.png' %}{% endif %}" class="rounded-circle" alt="image">
							</figure>
						</div>
						<div>
							<h6 class="mb-1 primary-font line-height-18">سازنده پیام: {{ ticket.owner.username }}</h6>
							<span class="small text-success">گیرنده پیام: {{ ticket.receiver.username }}</span>
						</div>
					</div>
					<div class="chat-body-messages">
						<div class="message-items">
                            {% for message in messages %}
                                {% if request.user == message.ticket.owner %}
                                    {% if message.created_by == request.user %}
                                        <div class="message-item">
                                            {{ message.content }}<br>
                                            <small class=" text-muted">{{ message.created_at|date:'Y-m-d ساعت H:i' }}</small>
                                        </div>
                                        {% if message.attachments.all.count != 0 %}    
                                        <div class="message-item message-item-media">
                                            {% for attachment in message.attachments.all %}
                                            <ul>
                                                <li>
                                                    {% if attachment.file.url|file_field_is_image %}
                                                    <a href="{{ attachment.file.url }}">
                                                        <img src="{{ attachment.file.url }}" alt="{{ attachment.file }}">
                                                        <span>{{ attachment.file }}</span>
                                                    </a>
                                                    {% else %}
                                                    <a href="{{ attachment.file.url }}" class="btn btn-outline-light text-left align-items-center justify-content-center">
                                                        <i class="fa fa-download font-size-18 m-r-10"></i>
                                                        <div class="small">
                                                            <div class="mb-2">{{ attachment.file }}</div>
                                                            <div dir="ltr">{{ attachment.file.size|filesizeformat }}</div>
                                                        </div>
                                                    </a>
                                                    {% endif %}
                                                </li>
                                            </ul>
                                            <small class=" text-muted">{{ attachment.created_at|date:'Y-m-d ساعت H:i' }}</small>
                                            {% endfor %}
                                        </div>
                                        {% endif %}    
                                    {% else %}
                                        <div class="message-item outgoing-message">
                                        {{ message.content }}<br>
                                        <small class=" text-muted">{{ message.created_at|date:'Y-m-d ساعت H:i' }}</small>
                                    </div>
                                        {% if message.attachments.all.count != 0 %}    
                                        <div class="message-item outgoing-message message-item-media">
                                            {% for attachment in message.attachments.all %}
                                            <ul>
                                                <li>
                                                    {% if attachment.file.url|file_field_is_image %}
                                                    <a href="{{ attachment.file.url }}">
                                                        <img src="{{ attachment.file.url }}" alt="{{ attachment.file }}">
                                                        <span>{{ attachment.file }}</span>
                                                    </a>
                                                    {% else %}
                                                    <a href="{{ attachment.file.url }}" class="btn btn-outline-light text-left align-items-center justify-content-center">
                                                        <i class="fa fa-download font-size-18 m-r-10"></i>
                                                        <div class="small">
                                                            <div class="mb-2">{{ attachment.file }}</div>
                                                            <div dir="ltr">{{ attachment.file.size|filesizeformat }}</div>
                                                        </div>
                                                    </a>
                                                    {% endif %}
                                                </li>
                                            </ul>
                                            <small class=" text-muted">{{ attachment.created_at|date:'Y-m-d ساعت H:i' }}</small>
                                            {% endfor %}
                                        </div>
                                        {% endif %}
                                    {% endif %}
                                {% elif request.user == message.ticket.receiver %}
                                    {% if message.created_by == request.user %}
                                        <div class="message-item">
                                            {{ message.content }}<br>
                                            <small class="text-muted">{{ message.created_at|date:'Y-m-d ساعت H:i' }}</small>
                                        </div>
                                        {% if message.attachments.all.count != 0 %}    
                                        <div class="message-item message-item-media">
                                            {% for attachment in message.attachments.all %}
                                            <ul>
                                                <li>
                                                    {% if attachment.file.url|file_field_is_image %}
                                                    <a href="{{ attachment.file.url }}">
                                                        <img src="{{ attachment.file.url }}" alt="{{ attachment.file }}">
                                                        <span>{{ attachment.file }}</span>
                                                    </a>
                                                    {% else %}
                                                    <a href="{{ attachment.file.url }}" class="btn btn-outline-light text-left align-items-center justify-content-center">
                                                        <i class="fa fa-download font-size-18 m-r-10"></i>
                                                        <div class="small">
                                                            <div class="mb-2">{{ attachment.file }}</div>
                                                            <div dir="ltr">{{ attachment.file.size|filesizeformat }}</div>
                                                        </div>
                                                    </a>
                                                    {% endif %}
                                                </li>
                                            </ul>
                                            <small class=" text-muted">{{ attachment.created_at|date:'Y-m-d ساعت H:i' }}</small>
                                            {% endfor %}
                                        </div>
                                        {% endif %}    
                                    {% else %}
                                        <div class="message-item outgoing-message">
                                        {{ message.content }}<br>
                                        <small class=" text-muted">{{ message.created_at|date:'Y-m-d ساعت H:i' }}</small>
                                    </div>
                                        {% if message.attachments.all.count != 0 %}    
                                        <div class="message-item outgoing-message message-item-media">
                                            {% for attachment in message.attachments.all %}
                                            <ul>
                                                <li>
                                                    {% if attachment.file.url|file_field_is_image %}
                                                    <a href="{{ attachment.file.url }}">
                                                        <img src="{{ attachment.file.url }}" alt="{{ attachment.file }}">
                                                        <span>{{ attachment.file }}</span>
                                                    </a>
                                                    {% else %}
                                                    <a href="{{ attachment.file.url }}" class="btn btn-outline-light text-left align-items-center justify-content-center">
                                                        <i class="fa fa-download font-size-18 m-r-10"></i>
                                                        <div class="small">
                                                            <div class="mb-2">{{ attachment.file }}</div>
                                                            <div dir="ltr">{{ attachment.file.size|filesizeformat }}</div>
                                                        </div>
                                                    </a>
                                                    {% endif %}
                                                </li>
                                            </ul>
                                            <small class=" text-muted">{{ attachment.created_at|date:'Y-m-d ساعت H:i' }}</small>
                                            {% endfor %}
                                        </div>
                                        {% endif %}
                                    {% endif %}    
                                {% else %}
                                    {% if message.created_by == request.user %}
                                        <div class="message-item">
                                            {{ message.content }}<br>
                                            <small class=" text-muted">{{ message.created_at|date:'Y-m-d ساعت H:i' }}</small>
                                        </div>
                                        {% if message.attachments.all.count != 0 %}    
                                        <div class="message-item message-item-media">
                                            {% for attachment in message.attachments.all %}
                                            <ul>
                                                <li>
                                                    {% if attachment.file.url|file_field_is_image %}
                                                    <a href="{{ attachment.file.url }}">
                                                        <img src="{{ attachment.file.url }}" alt="{{ attachment.file }}">
                                                        <span>{{ attachment.file }}</span>
                                                    </a>
                                                    {% else %}
                                                    <a href="{{ attachment.file.url }}" class="btn btn-outline-light text-left align-items-center justify-content-center">
                                                        <i class="fa fa-download font-size-18 m-r-10"></i>
                                                        <div class="small">
                                                            <div class="mb-2">{{ attachment.file }}</div>
                                                            <div dir="ltr">{{ attachment.file.size|filesizeformat }}</div>
                                                        </div>
                                                    </a>
                                                    {% endif %}
                                                </li>
                                            </ul>
                                            <small class=" text-muted">{{ attachment.created_at|date:'Y-m-d ساعت H:i' }}</small>
                                            {% endfor %}
                                        </div>
                                        {% endif %}
                                    {% else %}
                                        <div class="message-item outgoing-message">
                                        {{ message.content }}<br>
                                        <small class=" text-muted">{{ message.created_at|date:'Y-m-d ساعت H:i' }}</small>
                                    </div>
                                        {% if message.attachments.all.count != 0 %}    
                                        <div class="message-item outgoing-message message-item-media">
                                            {% for attachment in message.attachments.all %}
                                            <ul>
                                                <li>
                                                    {% if attachment.file.url|file_field_is_image %}
                                                    <a href="{{ attachment.file.url }}">
                                                        <img src="{{ attachment.file.url }}" alt="{{ attachment.file }}">
                                                        <span>{{ attachment.file }}</span>
                                                    </a>
                                                    {% else %}
                                                    <a href="{{ attachment.file.url }}" class="btn btn-outline-light text-left align-items-center justify-content-center">
                                                        <i class="fa fa-download font-size-18 m-r-10"></i>
                                                        <div class="small">
                                                            <div class="mb-2">{{ attachment.file }}</div>
                                                            <div dir="ltr">{{ attachment.file.size|filesizeformat }}</div>
                                                        </div>
                                                    </a>
                                                    {% endif %}
                                                </li>
                                            </ul>
                                            <small class=" text-muted">{{ attachment.created_at|date:'Y-m-d ساعت H:i' }}</small>
                                            {% endfor %}
                                        </div>
                                        {% endif %}
                                    {% endif %}    
                                {% endif %}
                            {% endfor %}

						</div>
					</div>
					<div class="chat-body-footer">
						<form class="d-flex align-items-center"  method="post"
                                action="{% url 'ticket:message-create' ticket_id=ticket.id %}" enctype="multipart/form-data">
							{% csrf_token %}
                            <input type="text" class="form-control" name="content" placeholder="پیام ..." required>
							<div class="d-flex">
								<button type="submit" class="ml-3 btn btn-primary btn-floating">
									<i class="fa fa-send"></i>
								</button>
                                <label for="files" class="ml-3 btn btn-primary btn-floating">
                                    <input id="files" type="file" name="files" style="display:none;" multiple>
                                    <i class="fa fa-plus"></i>
                                </label>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
    </main>
{% endblock %}

{% block extra_js %}

{% endblock %}