{% extends 'base.html' %}
{% load static %}
{% load gallery_custom_tag %}

{% block extra_css %}
{% endblock %}

{% block content %}
    <div id="loader" class="page-loader" hidden>
        <div class="spinner-border"></div>
    </div>
    <!-- begin::main content -->
    <main class="main-content">
        <div class="row">
            <div class="col-md-8">
                <div class="row">
                    <div class="col-xl-6 col-lg-12 col-md-12">
                        <div class="card card-body">
                            <div class="d-md-flex align-items-center">
                                <div class="position-relative mr-md-3 text-center mb-3 mt-1 my-md-0">
                                    <div id="circle-1" class="circle"></div>
                                    <div class="position-absolute a-0 d-flex flex-column align-items-center justify-content-center">
                                        <h3 class="mb-1 line-height-20 primary-font">{{ all_files_percentage }}%</h3>
                                        <span class="font-size-13 text-muted">استفاده شده</span>
                                    </div>
                                </div>
                                <div class="text-xs-center">
                                    <h6 class="mb-1 primary-font"><a href="{% url 'file-gallery:files-list' %}">فضای ذخیره سازی</a></h6>
                                    <p class="text-muted m-b-10">
                                        <small>معادل {{ all_files_size_with_ext }} از فضای ذخیره مصرف شده است</small>
                                    </p>
                                    <h3 class="mb-0 primary-font line-height-28">{{ request.user|user_maximum_quota_size_tag }}
                                        <small>فضای کل اختصاصی</small>
                                    </h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-12 col-md-12">
                        <div class="card card-body">
                            <div class="d-md-flex align-items-center">
                                <div class="position-relative mr-md-3 text-center mb-3 mt-1 my-md-0">
                                    <div id="circle-2" class="circle"></div>
                                    <div class="position-absolute a-0 d-flex flex-column align-items-center justify-content-center">
                                        <h3 class="mb-1 line-height-20 primary-font">{{ metapost_daily_percentage }}%</h3>
                                        <span class="font-size-13 text-muted">امروز</span>
                                    </div>
                                </div>
                                <div class="text-xs-center">
                                    <h6 class="mb-1 primary-font">محدودیت ارسال روزانه</h6>
                                    <p class="text-muted m-b-10">
                                        <small>{{ today_has_sent_metas }} مورد از سقف {{ metapost_daily_limit }} عدد پیام امروز ارسال شده است</small>
                                    </p>
                                    <h3 class="mb-0 primary-font line-height-28">{{ metapost_daily_limit }} عدد
                                        <small>سقف ارسال پیام روزانه</small>
                                    </h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex justify-content-between">
                            <h6 class="card-title">وضعیت پیام ها</h6>
                            <div class="dropdown">
                                <a class="btn btn-outline-light btn-sm" href="#" data-toggle="dropdown">
                                    1402 <i class="ti-angle-down m-l-5"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a href="#" class="dropdown-item">1402</a>
                                    <a href="#" class="dropdown-item">1403</a>
                                    <a href="#" class="dropdown-item">1404</a>
                                </div>
                            </div>
                        </div>
                        <div class="text-center mb-3">
                            <ul class="list-inline">
                                <li class="list-inline-item font-weight-bold font-size-13">
                                    <i class="fa fa-circle text-primary mr-1"></i>پیام های ثبت شده
                                </li>
                                <li class="list-inline-item font-weight-bold font-size-13">
                                    <i class="fa fa-circle text-success mr-1"></i>پیام های ارسال شده
                                </li>
                                <li class="list-inline-item font-weight-bold font-size-13">
                                    <i class="fa fa-circle text-danger mr-1"></i> پیام های زمانبندی شده
                                </li>
                            </ul>
                        </div>
                        <canvas id="chart-ticket-status"></canvas>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-header">امتیاز کل</div>
                            <div class="card-body">
                                <p class="text-muted">کیفیت عملکرد تیم پشتیبانی را بسنجید.</p>
                                <div class="d-flex align-items-end">
                                    <h1 class="m-r-10 m-b-0 line-height-38 primary-font">4.2</h1>
                                    <div class="font-size-18">
                                        <i class="fa fa-star text-warning"></i>
                                        <i class="fa fa-star text-warning"></i>
                                        <i class="fa fa-star text-warning"></i>
                                        <i class="fa fa-star text-warning"></i>
                                        <i class="fa fa-star text-muted"></i>
                                    </div>
                                </div>
                                <hr class="m-b-0">
                                <div class="list-group list-group-flush">
                                    <div class="list-group-item p-t-b-10 p-l-r-0 d-flex align-items-center justify-content-between">
                                        <div class="d-flex align-items-center">
                                            <strong class="m-r-20">5.0</strong>
                                            <div class="font-size-14">
                                                <i class="fa fa-star text-warning"></i>
                                                <i class="fa fa-star text-warning"></i>
                                                <i class="fa fa-star text-warning"></i>
                                                <i class="fa fa-star text-warning"></i>
                                                <i class="fa fa-star text-warning"></i>
                                            </div>
                                        </div>
                                        <div class="d-flex align-items-center">
                                            <div class="m-r-20">3,230</div>
                                            <div>58%</div>
                                        </div>
                                    </div>
                                    <div class="list-group-item p-t-b-10 p-l-r-0 d-flex align-items-center justify-content-between">
                                        <div class="d-flex align-items-center">
                                            <strong class="m-r-20">4.0</strong>
                                            <div class="font-size-14">
                                                <i class="fa fa-star text-warning"></i>
                                                <i class="fa fa-star text-warning"></i>
                                                <i class="fa fa-star text-warning"></i>
                                                <i class="fa fa-star text-warning"></i>
                                                <i class="fa fa-star text-muted"></i>
                                            </div>
                                        </div>
                                        <div class="d-flex align-items-center">
                                            <div class="m-r-20">2,230</div>
                                            <div>24%</div>
                                        </div>
                                    </div>
                                    <div class="list-group-item p-t-b-10 p-l-r-0 d-flex align-items-center justify-content-between">
                                        <div class="d-flex align-items-center">
                                            <strong class="m-r-20">3.0</strong>
                                            <div class="font-size-14">
                                                <i class="fa fa-star text-warning"></i>
                                                <i class="fa fa-star text-warning"></i>
                                                <i class="fa fa-star text-warning"></i>
                                                <i class="fa fa-star text-muted"></i>
                                                <i class="fa fa-star text-muted"></i>
                                            </div>
                                        </div>
                                        <div class="d-flex align-items-center">
                                            <div class="m-r-20">1,230</div>
                                            <div>10%</div>
                                        </div>
                                    </div>
                                    <div class="list-group-item p-t-b-10 p-l-r-0 d-flex align-items-center justify-content-between">
                                        <div class="d-flex align-items-center">
                                            <strong class="m-r-20">2.0</strong>
                                            <div class="font-size-14">
                                                <i class="fa fa-star text-warning"></i>
                                                <i class="fa fa-star text-warning"></i>
                                                <i class="fa fa-star text-muted"></i>
                                                <i class="fa fa-star text-muted"></i>
                                                <i class="fa fa-star text-muted"></i>
                                            </div>
                                        </div>
                                        <div class="d-flex align-items-center">
                                            <div class="m-r-20">1,230</div>
                                            <div>5%</div>
                                        </div>
                                    </div>
                                    <div class="list-group-item p-t-b-10 p-l-r-0 d-flex align-items-center justify-content-between">
                                        <div class="d-flex align-items-center">
                                            <strong class="m-r-20">1.0</strong>
                                            <div class="font-size-14">
                                                <i class="fa fa-star text-warning"></i>
                                                <i class="fa fa-star text-muted"></i>
                                                <i class="fa fa-star text-muted"></i>
                                                <i class="fa fa-star text-muted"></i>
                                                <i class="fa fa-star text-muted"></i>
                                            </div>
                                        </div>
                                        <div class="d-flex align-items-center">
                                            <div class="m-r-20">7</div>
                                            <div>2%</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-header">رضایت مشتری</div>
                            <div class="card-body">
                                <h1 class="primary-font line-height-30">
                                    9.8 <small class="text-success">2.1%</small>
                                </h1>
                                <p class="text-muted">امتیاز عملکرد</p>
                                <div class="progress" style="height: 10px">
                                    <div class="progress-bar" role="progressbar" style="width: 15%" aria-valuenow="15"
                                         aria-valuemin="0" aria-valuemax="100"></div>
                                    <div class="progress-bar bg-danger" role="progressbar" style="width: 30%"
                                         aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
                                    <div class="progress-bar bg-warning" role="progressbar" style="width: 20%"
                                         aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
                                    <div class="progress-bar bg-info" role="progressbar" style="width: 10%"
                                         aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
                                    <div class="progress-bar bg-success" role="progressbar" style="width: 25%"
                                         aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <div class="list-group list-group-flush m-t-10">
                                    <div class="list-group-item p-t-b-10 p-l-r-0 d-flex align-items-center justify-content-between">
                                        <div class="d-flex align-items-center">
                                            <i class="fa fa-circle m-r-10 text-primary"></i>
                                            <span>عالی</span>
                                        </div>
                                        <div class="d-flex align-items-center">
                                            <div class="m-r-20">3,230</div>
                                            <div>58%</div>
                                        </div>
                                    </div>
                                    <div class="list-group-item p-t-b-10 p-l-r-0 d-flex align-items-center justify-content-between">
                                        <div class="d-flex align-items-center">
                                            <i class="fa fa-circle m-r-10 text-danger"></i>
                                            <span>خیلی خوب</span>
                                        </div>
                                        <div class="d-flex align-items-center">
                                            <div class="m-r-20">3,230</div>
                                            <div>58%</div>
                                        </div>
                                    </div>
                                    <div class="list-group-item p-t-b-10 p-l-r-0 d-flex align-items-center justify-content-between">
                                        <div class="d-flex align-items-center">
                                            <i class="fa fa-circle m-r-10 text-warning"></i>
                                            <span>خوب</span>
                                        </div>
                                        <div class="d-flex align-items-center">
                                            <div class="m-r-20">3,230</div>
                                            <div>58%</div>
                                        </div>
                                    </div>
                                    <div class="list-group-item p-t-b-10 p-l-r-0 d-flex align-items-center justify-content-between">
                                        <div class="d-flex align-items-center">
                                            <i class="fa fa-circle m-r-10 text-info"></i>
                                            <span>متوسط</span>
                                        </div>
                                        <div class="d-flex align-items-center">
                                            <div class="m-r-20">3,230</div>
                                            <div>58%</div>
                                        </div>
                                    </div>
                                    <div class="list-group-item p-t-b-10 p-l-r-0 d-flex align-items-center justify-content-between">
                                        <div class="d-flex align-items-center">
                                            <i class="fa fa-circle m-r-10 text-success"></i>
                                            <span>ضعیف</span>
                                        </div>
                                        <div class="d-flex align-items-center">
                                            <div class="m-r-20">3,230</div>
                                            <div>58%</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-body">
                    <h3 class="primary-font font-weight-bold mb-3 line-height-24">
                        <span class="align-middle">{{ all_time_metas }}</span>
                        <span class="font-size-13">متای کل</span>
                    </h3>
                    <div class="progress mb-2" style="height: 5px">
                        <div class="progress-bar bg-primary" role="progressbar" style="width: 100%;" aria-valuenow="100"
                             aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <p class="font-size-13 m-b-0">
                        <span class="text-success">{% if first_meta %}{{ first_meta|date:'Y-m-d' }}{% else %}-{% endif %}<i class="ti-thumb-up m-r-5"></i></span> اولین در</p>
                </div>
                <div class="card card-body">
                    <h3 class="primary-font font-weight-bold mb-3 line-height-24">
                        <span class="align-middle">{{ has_queued_metas }}</span>
                        <span class="font-size-13">متای در صف ارسال</span>
                    </h3>
                    <div class="progress mb-2" style="height: 5px">
                        <div class="progress-bar bg-warning" role="progressbar" style="width: 100%;" aria-valuenow="100"
                             aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <p class="font-size-13 m-b-0"><span class="text-danger">{% if last_queued_meta %}{{ last_queued_meta|date:'Y-m-d' }}{% else %}-{% endif %} <i
                            class="ti-alarm-clock m-r-5"></i></span> آخرین در</p>
                </div>
                <div class="card card-body">
                    <h3 class="primary-font font-weight-bold mb-3 line-height-24">
                        <span class="align-middle">{{ today_has_sent_metas }}</span>
                        <span class="font-size-13">متای ارسال شده امروز</span>
                    </h3>
                    <div class="progress mb-2" style="height: 5px">
                        <div class="progress-bar bg-info" role="progressbar" style="width: 100%;" aria-valuenow="100"
                             aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <p class="font-size-13 m-b-0"><span class="text-info"><i
                            class="ti-check m-r-5"></i></span></p>
                </div>
                <div class="card card-body">
                    <h3 class="primary-font font-weight-bold mb-3 line-height-24">
                        <span class="align-middle">{{ all_time_has_sent_metas }}</span>
                        <span class="font-size-13">متای ارسال شده کل</span>
                    </h3>
                    <div class="progress mb-2" style="height: 5px">
                        <div class="progress-bar bg-success" role="progressbar" style="width: 100%;" aria-valuenow="100"
                             aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <p class="font-size-13 m-b-0"><span class="text-success"><i
                            class="ti-check m-r-5"></i></span></p>
                </div>
                <div class="card">
                    <div class="card-header">آخرین ارسالی ها</div>
                    <div class="card-body">
                        <div class="timeline">
                            {% for meta in latest_metas %}
                            <div class="timeline-item">
                                <div>
                                    <figure class="avatar avatar-sm m-r-15 bring-forward">
                                    <span class="avatar-title bg-info-bright text-info rounded-circle">
                                        <i class="fa fa-file-text-o font-size-20"></i>
                                    </span>
                                    </figure>
                                </div>
                                <div>
                                    <p class="m-b-5"><strong><a class="text-primary" href="{{ meta.get_absolute_url }}">{{ meta.title }}</a></strong></p>
                                    <small class="text-muted">
                                        <i class="fa fa-clock-o m-r-5"></i>ساخته شده در {{ meta.created_at|date:'Y/m/d' }}
                                    </small>
                                </div>
                            </div>
                            {% empty %}

                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!-- end::main content -->
{% endblock %}

{% block extra_js %}
    <!-- Chartjs -->
    <script src="{% static 'admin-panel/vendors/charts/chartjs/chart.min.js' %}"></script>

    <!-- Circle progress -->
    <script src="{% static 'admin-panel/vendors/circle-progress/circle-progress.min.js' %}"></script>
{#    <script>#}
{#        'use strict';#}
{#        $(document).ready(function () {#}
{##}
{#            var colors = {#}
{#                primary: $('.colors .bg-primary').css('background-color'),#}
{#                primaryLight: $('.colors .bg-primary-bright').css('background-color'),#}
{#                secondary: $('.colors .bg-secondary').css('background-color'),#}
{#                secondaryLight: $('.colors .bg-secondary-bright').css('background-color'),#}
{#                info: $('.colors .bg-info').css('background-color'),#}
{#                infoLight: $('.colors .bg-info-bright').css('background-color'),#}
{#                success: $('.colors .bg-success').css('background-color'),#}
{#                successLight: $('.colors .bg-success-bright').css('background-color'),#}
{#                danger: $('.colors .bg-danger').css('background-color'),#}
{#                dangerLight: $('.colors .bg-danger-bright').css('background-color'),#}
{#                warning: $('.colors .bg-warning').css('background-color'),#}
{#                warningLight: $('.colors .bg-warning-bright').css('background-color'),#}
{#            };#}
{##}
{#            if ($('.slick-single-item').length) {#}
{#                $('.slick-single-item').slick({#}
{#                    rtl: true,#}
{#                    autoplay: true,#}
{#                    autoplaySpeed: 3000,#}
{#                    infinite: true,#}
{#                    slidesToShow: 4,#}
{#                    slidesToScroll: 4,#}
{#                    prevArrow: '.slick-single-arrows a:eq(0)',#}
{#                    nextArrow: '.slick-single-arrows a:eq(1)',#}
{#                    responsive: [#}
{#                        {#}
{#                            breakpoint: 1300,#}
{#                            settings: {#}
{#                                slidesToShow: 3,#}
{#                                slidesToScroll: 3,#}
{#                            }#}
{#                        },#}
{#                        {#}
{#                            breakpoint: 992,#}
{#                            settings: {#}
{#                                slidesToShow: 3,#}
{#                                slidesToScroll: 3,#}
{#                            }#}
{#                        },#}
{#                        {#}
{#                            breakpoint: 768,#}
{#                            settings: {#}
{#                                slidesToShow: 2,#}
{#                                slidesToScroll: 2#}
{#                            }#}
{#                        },#}
{#                        {#}
{#                            breakpoint: 540,#}
{#                            settings: {#}
{#                                slidesToShow: 1,#}
{#                                slidesToScroll: 1#}
{#                            }#}
{#                        }#}
{#                    ]#}
{#                });#}
{#            }#}
{##}
{#            if ($('.reportrange').length > 0) {#}
{#                var start = moment().subtract(29, 'days');#}
{#                var end = moment();#}
{##}
{#                function cb(start, end) {#}
{#                    $('.reportrange span').html(start.format('YYYY/MM/DD') + ' - ' + end.format('YYYY/MM/DD'));#}
{#                }#}
{##}
{#                $('.reportrange').daterangepicker({#}
{#                    startDate: start,#}
{#                    endDate: end,#}
{#                    ranges: {#}
{#                        'امروز': [moment(), moment()],#}
{#                        'دیروز': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],#}
{#                        '7 روز اخیر': [moment().subtract(6, 'days'), moment()],#}
{#                        '30 روز اخیر': [moment().subtract(29, 'days'), moment()],#}
{#                        'این ماه': [moment().startOf('month'), moment().endOf('month')],#}
{#                        'ماه گذشته': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]#}
{#                    },#}
{#                    "locale": {#}
{#                        "format": "YYYY/MM/DD",#}
{#                        "separator": " - ",#}
{#                        "applyLabel": "اعمال",#}
{#                        "cancelLabel": "انصراف",#}
{#                        "fromLabel": "از",#}
{#                        "toLabel": "تا",#}
{#                        "customRangeLabel": "سفارشی",#}
{#                        "weekLabel": "هف",#}
{#                        "daysOfWeek": [#}
{#                            "ی",#}
{#                            "د",#}
{#                            "س",#}
{#                            "چ",#}
{#                            "پ",#}
{#                            "ج",#}
{#                            "ش"#}
{#                        ],#}
{#                        "monthNames": [#}
{#                            "ژانویه",#}
{#                            "فوریه",#}
{#                            "مارس",#}
{#                            "آوریل",#}
{#                            "می",#}
{#                            "ژوئن",#}
{#                            "جولای",#}
{#                            "آگوست",#}
{#                            "سپتامبر",#}
{#                            "اکتبر",#}
{#                            "نوامبر",#}
{#                            "دسامبر"#}
{#                        ],#}
{#                        "firstDay": 6#}
{#                    }#}
{#                }, cb);#}
{##}
{#                cb(start, end);#}
{#            }#}
{##}
{#            var chartColors = {#}
{#                primary: {#}
{#                    base: '#3f51b5',#}
{#                    light: '#c0c5e4'#}
{#                },#}
{#                danger: {#}
{#                    base: '#f2125e',#}
{#                    light: '#fcd0df'#}
{#                },#}
{#                success: {#}
{#                    base: '#0acf97',#}
{#                    light: '#cef5ea'#}
{#                },#}
{#                warning: {#}
{#                    base: '#ff8300',#}
{#                    light: '#ffe6cc'#}
{#                },#}
{#                info: {#}
{#                    base: '#00bcd4',#}
{#                    light: '#e1efff'#}
{#                },#}
{#                dark: '#37474f',#}
{#                facebook: '#3b5998',#}
{#                twitter: '#55acee',#}
{#                linkedin: '#0077b5',#}
{#                instagram: '#517fa4',#}
{#                whatsapp: '#25D366',#}
{#                dribbble: '#ea4c89',#}
{#                google: '#DB4437',#}
{#                borderColor: '#e8e8e8',#}
{#                fontColor: '#999'#}
{#            };#}
{##}
{#            if ($('body').hasClass('dark')) {#}
{#                chartColors.borderColor = 'rgba(255, 255, 255, .1)';#}
{#                chartColors.fontColor = 'rgba(255, 255, 255, .4)';#}
{#            }#}
{##}
{#            Chart.defaults.global.defaultFontFamily = '"primary-font", "segoe ui", "tahoma"';#}
{##}
{#            if ($('#circle-1').length) {#}
{#                $('#circle-1').circleProgress({#}
{#                    startAngle: 1.55,#}
{#                    value: {{ all_files_percentage|int_percentage }},#}
{#                    size: 110,#}
{#                    thickness: 10,#}
{#                    fill: {#}
{#                        color: colors.primary#}
{#                    }#}
{#                });#}
{#            }#}
{##}
{#            if ($('#circle-2').length) {#}
{#                $('#circle-2').circleProgress({#}
{#                    startAngle: 1.55,#}
{#                    value: {{ metapost_daily_percentage|int_percentage }},#}
{#                    size: 110,#}
{#                    thickness: 10,#}
{#                    fill: {#}
{#                        color: colors.success#}
{#                    }#}
{#                });#}
{#            }#}
{##}
{##}
{#            function bar_chart() {#}
{#                if ($('#chart-ticket-status').length > 0) {#}
{#                    var dataSource = [#}
{#                        {country: "ایران", hydro: 59.8, oil: 937.6, gas: 582, coal: 564.3, nuclear: 187.9},#}
{#                        {country: "چین", hydro: 74.2, oil: 308.6, gas: 35.1, coal: 956.9, nuclear: 11.3},#}
{#                        {country: "روسیه", hydro: 40, oil: 128.5, gas: 361.8, coal: 105, nuclear: 32.4},#}
{#                        {country: "ژاپن", hydro: 22.6, oil: 241.5, gas: 64.9, coal: 120.8, nuclear: 64.8},#}
{#                        {country: "هند", hydro: 19, oil: 119.3, gas: 28.9, coal: 204.8, nuclear: 3.8},#}
{#                        {country: "آلمان", hydro: 6.1, oil: 123.6, gas: 77.3, coal: 85.7, nuclear: 37.8}#}
{#                    ];#}
{##}
{#                    // Return with commas in between#}
{#                    var numberWithCommas = function (x) {#}
{#                        return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");#}
{#                    };#}
{##}
{#                    var dataPack1 = [40, 47, 44, 38, 27, 40, 47, 44, 38, 27, 40, 27];#}
{#                    var dataPack2 = [10, 12, 7, 5, 4, 10, 12, 7, 5, 4, 10, 12];#}
{#                    var dataPack3 = [17, 11, 22, 18, 12, 17, 11, 22, 18, 12, 17, 11];#}
{#                    var dates = ["فروردین", "اردیبهشت", "خرداد", "تیر", "مرداد", "شهریور", "مهر", "آبان", "آذر", "دی", "بهمن", "اسفند"];#}
{##}
{#                    var bar_ctx = document.getElementById('chart-ticket-status');#}
{##}
{#                    bar_ctx.height = 115;#}
{##}
{#                    new Chart(bar_ctx, {#}
{#                            type: 'bar',#}
{#                            data: {#}
{#                                labels: dates,#}
{#                                datasets: [#}
{#                                    {#}
{#                                        label: 'پیام های ثبت شده',#}
{#                                        data: dataPack1,#}
{#                                        backgroundColor: colors.primaryLight,#}
{#                                        hoverBorderWidth: 0#}
{#                                    },#}
{#                                    {#}
{#                                        label: 'پیام های ارسال شده',#}
{#                                        data: dataPack2,#}
{#                                        backgroundColor: colors.successLight,#}
{#                                        hoverBorderWidth: 0#}
{#                                    },#}
{#                                    {#}
{#                                        label: 'پیام های زمانبندی شده',#}
{#                                        data: dataPack3,#}
{#                                        backgroundColor: colors.dangerLight,#}
{#                                        hoverBorderWidth: 0#}
{#                                    },#}
{#                                ]#}
{#                            },#}
{#                            options: {#}
{#                                legend: {#}
{#                                    display: false#}
{#                                },#}
{#                                animation: {#}
{#                                    duration: 10,#}
{#                                },#}
{#                                tooltips: {#}
{#                                    mode: 'label',#}
{#                                    callbacks: {#}
{#                                        label: function (tooltipItem, data) {#}
{#                                            return data.datasets[tooltipItem.datasetIndex].label + ": " + numberWithCommas(tooltipItem.yLabel);#}
{#                                        }#}
{#                                    }#}
{#                                },#}
{#                                scales: {#}
{#                                    xAxes: [{#}
{#                                        stacked: true,#}
{#                                        gridLines: {display: false},#}
{#                                        ticks: {#}
{#                                            fontSize: 11,#}
{#                                            fontColor: chartColors.fontColor#}
{#                                        }#}
{#                                    }],#}
{#                                    yAxes: [{#}
{#                                        stacked: true,#}
{#                                        ticks: {#}
{#                                            callback: function (value) {#}
{#                                                return numberWithCommas(value);#}
{#                                            },#}
{#                                            fontSize: 11,#}
{#                                            fontColor: chartColors.fontColor#}
{#                                        },#}
{#                                    }],#}
{#                                }#}
{#                            },#}
{#                            plugins: [{#}
{#                                beforeInit: function (chart) {#}
{#                                    chart.data.labels.forEach(function (value, index, array) {#}
{#                                        var a = [];#}
{#                                        a.push(value.slice(0, 5));#}
{#                                        var i = 1;#}
{#                                        while (value.length > (i * 5)) {#}
{#                                            a.push(value.slice(i * 5, (i + 1) * 5));#}
{#                                            i++;#}
{#                                        }#}
{#                                        array[index] = a;#}
{#                                    })#}
{#                                }#}
{#                            }]#}
{#                        }#}
{#                    );#}
{#                }#}
{#            }#}
{##}
{#            bar_chart();#}
{#        });#}
{#    </script>#}
{% endblock %}