{% extends 'base.html' %}
{% load subscription_tag %}
{% load static %}

{% block extra_css %}
{% endblock %}

{% block content %}
    <main class="main-content">
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-6">
                <div class="card">
                    <div class="card-header">
                        <h2>کسر اعتبار روزانه</h2>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-lg-4">
                                <h4>کسر شده امروز: </h4>
                                <span class="badge badge-pill badge-warning" style="font-size: 20px"><span class="human-readable">{{ request|today_subscription_detail:'0' }}</span> تومان</span>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-4">
                                <h4>خدمات درخواستی: </h4>
                                <span class="badge badge-pill badge-warning" style="font-size: 20px"><span class="human-readable">{{ request|calculate_subscription_daily_price }}</span> تومان</span>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-4">
                                <h4>ارسال هر پیام: </h4>
                                <span class="badge badge-pill badge-warning" style="font-size: 20px"><span class="human-readable">{{ request|calculate_subscription_send_message_price }}</span> تومان</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6">
                        <div class="card">
                            <div class="card-header">
                                <h2>لایسنس های خریداری شده امروز</h2>
                            </div>
                            <div class="card-body">
                                <h3 class="text-info"> {{ request|today_subscription_detail:'1' }}</h3>
                            </div>
                        </div>
                    </div>
        </div>
    </main>
{% endblock %}

{% block extra_js %}
{% endblock %}